.reimbursement {
  padding: 20px 15px;
  box-sizing: border-box;
  &__image-box {
    width: 100%;
    max-width: 129px;
  }
  &__image {
    width: 100%;
    border-radius: 4px;
  }
  &__item {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-height: 158px;
    margin: 0 auto;
    padding: 13px;
    border-radius: 8px;
    border-bottom: 4px solid #d0231d;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    box-sizing: border-box;
  }
  &__box {
    flex-grow: 1;
    flex-direction: column;
  }
  &__caption {
    padding: 14px 0;
    font-size: 1.125rem;
  }
  &__text {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .reimbursement {
    &__item {
      flex-wrap: nowrap;
    }
    &__box {
      padding-left: 13px;
    }
    &__caption {
      text-align: left;
    }
  }
}