input#modal-close.modal__checkbox(type="checkbox")
aside.modal
    label.modal__bg(for="modal-close")
    ._col-12.modal__form-box
        form._row.payment__form._p-n(action="/mail.php" method="POST")
            ._col-12
                input.input.modal__cetnter(name="name" type="text" placeholder="Ваше имя" required="required")
            ._col-12
                input.input.modal__cetnter(name="phone" type="tel" placeholder="Ваш телефон" required="required")
            ._col-12
                input.input.modal__cetnter(name="email" type="email" placeholder="Ваш e-mail")
            ._col-12
                input.input.modal__cetnter(name="city" type="text" placeholder="Ваш город")
            ._col-12
                button.button.modal__cetnter(type="submit")
                    | Оставить заявку
            .modal__check.modal__cetnter
                input#check2.check(type="checkbox" checked="checked" required="required")
                label.check-label(for="check2")
                    | Даю согласие на&nbsp;обработку
                    br
                    a.link(href="/privacy-policy/") персональных данных
    label.modal__close(for="modal-close")