footer.footer._s
    ._container._row.footer__container
        .footer__logo-box
            img.footer__logo(src="/svg/logo2.svg" alt="Юр-Ком")
            .footer__logo-text
                h3.footer__caption Юридические услуги
                .footer__sup Бухгалтерия. Аутсорсинг. Аудит.
                .footer__copy ЮР-КОМ &copy;&nbsp;2014-2019 Все права защищены
        ._row.footer__soc
            a.footer__soc-link._fb(href="#")
            a.footer__soc-link._vk(href="#")
            a.footer__soc-link._in(href="#")
            a.footer__soc-link._vb(href="#")
            a.footer__soc-link._wa(href="#")
        ._row.footer__contacts
            .footer__cont-item._i1
                | Режим работы: ежедневно с 10:00 до 20:00
            .footer__cont-item._i2
                | 24000, Казань, ул. Чистопольская 77
            .footer__cont-item._i7
            .footer__cont-item._i8
            .footer__cont-item._i9
            .footer__cont-item._i4
                | Бесплатная парковка
            .footer__cont-item._i5
                a.link._s(href="tel:+79999999999") +7(999)99-99-999,
                |
                |
                a.link._s(href="tel:+79999999999") +7(999)999-99-99
            .footer__cont-item._i6
                a.link._s(href="tomail:example@mail.ru") example@mail.ru
        ._row.footer__pages
            a.link.footer__link._s(href="/")
                | Главная
            a.link.footer__link._s(href="/services.html")
                | Юридические услуги юр. лицам
            a.link.footer__link._s(href="/services.html")
                | Юридические услуги физ. лицам
            a.link.footer__link._s(href="/services.html")
                | ООО и ИП Бухгалтерия
            a.link.footer__link._s(href="/services.html")
                | ООО и ИП Регистрация
            a.link.footer__link._s(href="/contacts.html")
                | Контакты
