header.top-menu
    ._container._row.top-menu__container
        a.link.top-menu__logo-box(href="/")
            img.top-menu__logo(src="/svg/logo.svg" alt="Юр-Ком")
            .top-menu__logo-text
                h1.top-menu__caption Юридические услуги
                span.top-menu__sup Бухгалтерия. Аутсорсинг. Аудит.
        .top-menu__soc
            a.top-menu__soc-icon._fb(href='#')
            a.top-menu__soc-icon._vk(href='#')
            a.top-menu__soc-icon._in(href='#')
            a.top-menu__soc-icon._vb(href='#')
            a.top-menu__soc-icon._wa(href='#')
        .top-menu__adr
            span г. Казань
            span ул. Чистопольская 77
        .top-menu__phone
            a.link(href="tel:+79999999999") +7(999)999-99-99
            a.link(href="tel:+79999999999") +7(999)999-99-99
        .top-menu__btn-box
            label.button(for="modal-close") Заказать звонок
    nav.top-menu__nav
        ._container
            .top-menu__nav-mob
                a.link._s.top-menu__link(href="/")
                    | Главная
                a.link._s.top-menu__link(href="/services.html" data-sup="Юридические услуги")
                    | Юр. лицам
                .top-menu__sub-menu
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                a.link._s.top-menu__link(href="/services.html" data-sup="Юридические услуги")
                    | Физ. лицам
                .top-menu__sub-menu
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                    a.link._s.top-menu__link(href="#")
                        | Прайс
                a.link._s.top-menu__link(href="/services.html" data-sup="ООО и ИП")
                    | Бухгалтерия
                a.link._s.top-menu__link(href="/services.html" data-sup="ООО и ИП")
                    | Регистрация
                a.link._s.top-menu__link(href="/contacts.html")
                    | Контакты