$default-font: 'Roboto', sans-serif;

$background-color: #ffffff;
$p-background-color: #ffffff;

$p-color: #3f5cb7;
$s-color: #283593;

$p-active-color: #b7b7b7;
$s-active-color: #b7b7b7;

$p-text-color: #4d4d4d;
$s-text-color: #ffffff;