extends layout/main

block content
    include index/_reimbursement
    include index/_services
    include index/_feedback
    include index/_benefit
    include index/_interests
    include index/_steps
    include index/_news
    include index/_sale
    include index/_feedback
    include index/_contcts