aside.benefit
    ._container._row.benefit__list
        .benefit__item
            .benefit__cart
                .benefit__title
                    | Лучшая цена
                .benefit__text
                    | Наша компания предлагает лучшие цены на рынке. Если вы нашли дешевле - мы снизим цену
        .benefit__item
            .benefit__cart
                .benefit__title
                    | Лучшая цена
                .benefit__text
                    | Наша компания предлагает лучшие цены на рынке. Если вы нашли дешевле - мы снизим цену
        .benefit__item
            .benefit__cart
                .benefit__title
                    | Лучшая цена
                .benefit__text
                    | Наша компания предлагает лучшие цены на рынке. Если вы нашли дешевле - мы снизим цену
        .benefit__item
            .benefit__cart
                .benefit__title
                    | Лучшая цена
                .benefit__text
                    | Наша компания предлагает лучшие цены на рынке. Если вы нашли дешевле - мы снизим цену
        .benefit__item
            .benefit__cart
                .benefit__title
                    | Лучшая цена
                .benefit__text
                    | Наша компания предлагает лучшие цены на рынке. Если вы нашли дешевле - мы снизим цену