section.contacts
    .contacts__box
        .contacts__cont
            h3.contacts__caption
                | Контакты
            .contacts__cont-item._i1
                | Режим работы: Пн-Вс, 10:00-20:00
            .contacts__cont-item._i2
                | 24000, Казань, ул. Чистопольская 77
            .contacts__cont-item._i7
                | sd
            .contacts__cont-item._i8
                | sd
            .contacts__cont-item._i9
                | sd
            .contacts__cont-item._i4
                | Бесплатная парковка
            .contacts__cont-item._i5
                a.link(href="tel:+79999999999") +7(999)99-99-999,
                |
                |
                a.link(href="tel:+79999999999") +7(999)999-99-99
            .contacts__cont-item._i6
                a.link(href="tomail:example@mail.ru") example@mail.ru
            ._row.contacts__soc
                a.footer__soc-link._fb(href="#")
                a.footer__soc-link._vk(href="#")
                a.footer__soc-link._in(href="#")
                a.footer__soc-link._vb(href="#")
    iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4364.604405925783!2d37.618312501614916!3d55.74398562026712!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1573040255868!5m2!1sru!2sua" width="100%" frameborder="0" style="border:0;" allowfullscreen="")