section.feedback._container._row
    ._col-12._col-lg-5.feedback__left
    ._row._col-12._col-lg-7
        .feedback__right
            h3.feedback__caption
                | Получите бесплатную консультацию прямо сейчас
            ._col-12._row.feedback__list._p-n
                .feedback__item
                    a.link.feedback__link._i1(href="#")
                        | Звонок +7(999)999-99-99
                .feedback__item
                    a.link.feedback__link._i2(href="#")
                        | Онлайн-консультант
                .feedback__item
                    a.link.feedback__link._i3(href="#")
                        | Вконтакте ur_com
                .feedback__item
                    a.link.feedback__link._i4(href="#")
                        | E-mail: example@mail.ru