section.interests
    ._container._row
        h3._col-12.interests__caption
            | Представляем интересы  клиентов в
        ._row._col-12._p-n.interests__code-box
            .interests__code._i1
                .interests__title
                    | Генеральная
                    | прокуратура России
            .interests__code._i2
                .interests__title
                    | Федеральная
                    | налоговая служба
            .interests__code._i3
                .interests__title
                    | Министерство
                    | юстиции России
            .interests__code._i4
                .interests__title
                    | Центральный
                    | банк России
            .interests__code._i5
                .interests__title
                    | Роспотребнадзор
            .interests__code._i6
                .interests__title
                    | Служба
                    | судебных приставов