section.news
    ._container._row
        h3._col-12
            | Новости
        ._row.news__list
            article._col-12._col-lg-4.news__item-box
                a.link.news__item(href="#")
                    .news__image
                    .news__text
                        | С 1 октября 2019 года, начали работу кассационные и апелляционные суды общей юрисдикции
                    .news__btn-box
                        .button Читать полностью
            article._col-12._col-lg-4.news__item-box
                a.link.news__item(href="#")
                    .news__image
                    .news__text
                        | Свежая новость!
                    .news__btn-box
                        .button Читать полностью