section.reimbursement._container._row
        ._row.reimbursement__item
            .reimbursement__image-box
                img.reimbursement__image(src="/img/reimbursement.png")
            .reimbursement__box
                h3.reimbursement__caption
                    | Возмещение расходов
                .reimbursement__text
                    | Мы работаем только по договору и поэтому всегда можем взыскать ваши расходы на юриста с проигравшей в суде стороны