section.sale
    ._container._row.sale__box
        h3._col-12.sale__caption
            | При заказе пакета абонентского обслуживания
        ._col-12
            .sale__about
                | предоставляется
                |
                strong СКИДКА 25%
                |
                | на все виды услуг.
        ._col-12.sale__text
            | Воспользуйтесь данным предложением прямо сейчас
        ._col-12._row.feedback__list._p-n.sale__list
            .feedback__item
                a.link.feedback__link._i1(href="#")
                    | Звонок +7(999)999-99-99
            .feedback__item
                a.link.feedback__link._i2(href="#")
                    | Онлайн-консультант
            .feedback__item
                a.link.feedback__link._i3(href="#")
                    | Вконтакте ur_com
            .feedback__item
                a.link.feedback__link._i4(href="#")
                    | E-mail: example@mail.ru