section.sale._container._row
    ._col-12
        .sale__box(data-sale="Скидка -25%")
            h3.sale__caption
                | При заказе
                |
                span._r
                    | 2-ух пакетов
                |
                | предоставляется скидка
                |
                span._r
                    | -25%&nbsp;на&nbsp;каждый
            ._row.sale__list
                .sale__item
                    .sale__image
                    .sale__title
                        | Юридическое сопровождение
                    .sale__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    .sale__price._r
                        | от 5000 руб.
                .sale__plus
                .sale__item
                    .sale__image
                    .sale__title
                        | Бухгалтерское
                        | сопровождение
                    .sale__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    .sale__price._r
                        | от 5000 руб.
                .sale__equal
                .sale__item
                    .sale__title-big
                        | Юридическое и бухгалтерское
                        | сопровождение
                        | вашего бизнеса
                    .sale__price-big._r
                        | от 7500 руб.
                    .sale__instead
                        | вместо 10000 руб.