._container._col-12
    a.back(href="#") Юридические услуги Юр. лицам

article._container._col-12
    .services__price-item
        ._row.services__top
            .services__box
                h3.services__caption
                    | Изготовление печатей
                ._row.services__prints
                    ._row.services__print-item
                        .services__print-img-box
                            img.services__print-img(src="/img/p1.png" alt="Автоматическая оснастка")
                        .services__print-title
                            | Автоматическая
                            br
                            | оснастка
                        .services__print-price
                            | 450 руб.
                    ._row.services__print-item
                        .services__print-img-box
                            img.services__print-img(src="/img/p2.png" alt="Карманная оснастка")
                        .services__print-title
                            | Карманная
                            br
                            | оснастка
                        .services__print-price
                            | 450 руб.
                    ._row.services__print-item
                        .services__print-img-box
                            img.services__print-img(src="/img/p3.png" alt="Карманная Pocket")
                        .services__print-title
                            | Карманная
                            br
                            | Pocket
                        .services__print-price
                            | 450 руб.
                    ._row.services__print-item
                        .services__print-img-box
                            img.services__print-img(src="/img/p4.png" alt="Профессиональная оснастка")
                        .services__print-title
                            | Профессиональная
                            br
                            | оснастка
                        .services__print-price
                            | 450 руб.
                    ._row.services__print-item
                        .services__print-img-box
                            img.services__print-img(src="/img/p5.png" alt="Техно пластиковая")
                        .services__print-title
                            | Техно
                            br
                            | пластиковая
                        .services__print-price
                            | 450 руб.
        ._row.services__bot
            .services__price
            .services__btn-box
                label.button.services__btn(for="modal-close") Заказать
                label.button._s.services__btn(for="modal-close") Позвонить

article._col-12._container.services__price-container
    .services__price-item._show
        ._row.services__top
            .services__box
                h3.services__price-caption
                    | Консультация того-то и того то а еще того, того, и того, и немного того-то
                input.services__show(type="checkbox")
                .services__text
                    .services__text-box
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        ._row.services__bot
            .services__price
                | от 5000 руб.
            .services__btn-box
                label.button.services__btn(for="modal-close") Заказать
                button.button._s.services__btn._sh Подробнее
article._col-12._container.services__price-container
    .services__price-item._show
        ._row.services__top
            .services__box
                h3.services__price-caption
                    | Консультация того-то и того то а еще того, того, и того, и немного того-то
                input.services__show(type="checkbox" name="price")
                .services__text._price
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        ._row.services__bot
            .services__price
                | от 5000 руб.
            .services__btn-box
                label.button.services__btn(for="modal-close") Заказать
                button.button._s.services__btn._sh Подробнее
.services._container._row
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация