.services._container._row
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация
    article._col-12._col-lg-6
        .services__item
            ._row.services__top
                .services__image-box
                    img.services__image(src="/img/sale.png")
                .services__box
                    h3.services__caption
                        | Банкротство
                    .services__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            ._row.services__bot
                .services__price
                    | от 5000 руб.
                .services__btn-box
                    label.button.services__btn(for="modal-close") Прайс
                    label.button._s.services__btn(for="modal-close") Бесплатная консультация