section.steps
    ._container._row
        ._row._col-12._p-n
            ._col-12._col-lg-4
                .steps__step._i1._s._next
                    .steps__title
                        | Поможем решить
                        br
                        | проблему
                    .steps__text
                        | Наши специалисты не оставят Вас наедине с Вашими проблемами и подберут идеальные варианты для их решения
            ._col-12._col-lg-4
                .steps__step._i2._next
                    .steps__title._p
                        | Гарантируем качество
                        br
                        | услуг
                    .steps__text
                        | Наши специалисты не оставят Вас наедине с Вашими проблемами и подберут идеальные варианты для их решения
            ._col-12._col-lg-4
                .steps__step._i3._s
                    .steps__title
                        | Поможем добиться отсутствия
                        br
                        | проблем в будущем
                    .steps__text
                        | Наши специалисты не оставят Вас наедине с Вашими проблемами и подберут идеальные варианты для их решения